.page {
  /* Add page class properties here */
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  /*font-family: "Noto serif", "Time New Roman", serif;*/
  font-size: 16px;
  line-height: 20px;
  /*--- From Project #1 ---
  margin: auto;
  --- From Project #1 ---*/
}
